
extend layout
block content
    div(class='navigation')
        a(class='button' href='/arzt_overview') 1 - Arzt Übersicht
        a(class='button' href='/recent_operations') 2 - Behandlung in den letzten 12 Monaten
        a(class='button' href='/fachbereich_overview') 3 - Fachbereich Übersicht
        a(class='button' href='/personal_overview') 4 - Übersicht für Personalabteilung


        
